{% extends 'escrowapp/base.html' %}
{% load static %}
{% block content %}
<h2>Contract List</h2>
<table class="table">
    <tr>
        <th>User making offer</th>
        <th>User taking offer</th>
        <th>State</th>
        <th>Details</th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>
                {% if request.user == object.party_making_offer %}
                    You
                {% else %}
                    {{object.party_making_offer}}
                {% endif %}
            </td>
            <td>
                {% if request.user == object.party_taking_offer %}
                    You
                {% else %}
                    {{object.party_making_offer}}
                {% endif %}
            </td>
            <td>{{object.state}}</td>
            <td><a class="btn btn-sm btn-outline-info" href="{% url 'contract_details' object.pk %}">Details</a></td>
        </tr>

    {% endfor %}
</table>

{% endblock %}