{% extends 'escrowapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
<h2>Contract State: {{object.state}}</h2>
</br>
<!--<a class="btn btn-success" href="simpleledger:?r=http://{{request.META.HTTP_HOST}}{% url 'payment_request' object.pk %}">-->
<!--    simpleledger:?r=http://{{request.META.HTTP_HOST}}{% url 'payment_request' object.pk %}-->
<!--</a>-->
{% if object.state == "offer" %}
    {% if request.user == object.party_making_offer %}
        <h3>Please wait for the other party to accept or reject the contract.</h3>
    {% endif %}
    {% if request.user == object.party_taking_offer %}
        <p><a class="btn btn-success" href="{% url 'accept_reject' object.pk %}">Accept/Reject the contract</a></p>
    {% endif %}
{% endif %}
{% if object.state == "accepted" %}
    {% if request.user == object.party_making_offer %}
        <p><a class="btn btn-success" href="{% url 'fund_contract' object.pk %}">Fund the contract</a></p>
    {% endif %}
    {% if request.user == object.party_taking_offer %}
        <h3>Please wait for the other party to fund the contract.</h3>
    {% endif %}
{% endif %}
{% if object.state == "offer_declined" %}
    {% if request.user == object.party_making_offer %}
        <h3>The other party has rejected your offer.</h3>
    {% endif %}
    {% if request.user == object.party_taking_offer %}
        <h3>You rejected this offer.</h3>
    {% endif %}
{% endif %}
{% if object.state == "contract_funded" %}
    {% if request.user == object.party_making_offer %}
        <h3>Please wait for the other party to finish the contract and then release.</h3>
    {% endif %}
    {% if request.user == object.party_taking_offer %}
        <h3>You can refund the other party in case of an issue.</h3>
    {% endif %}
    <h3><a class="btn btn-success" href="{% url 'release_contract_fund' object.pk %}">Release the contract fund</a></h3>

{% endif %}
{% if object.state == "released" %}
    <h3>Contract finished.</h3>
    {% if request.user == object.party_contract_released_to %}
        <button class="btn btn-success" onclick="withdraw()">Withdraw funds</button>
    {% endif %}
{% endif %}
    </div>
{% endblock %}
{% block scripts %}
<!--<script src="https://cdn.jsdelivr.net/npm/bitcoincom-link@0.1.10-ping02/lib/bitcoincom-link.min.js"></script>-->
<!--<script>-->
<!--    var withdrawAddress;-->
<!--    bitcoincomLink.getAddress({-->
<!--      protocol: 'BCH',-->
<!--    }).then((data) => {-->
<!--        console.log(data)-->
<!--        withdrawAddress = data.address-->
<!--    }).catch((x) => {-->
<!--        console.log(x)-->
<!--    });-->
<!--</script>-->
<script src="{% static 'escrowapp/js/escrow.js' %}"></script>
<script>
    const token = "{{object.token}}"
    const arbitratorPublicKeyString = "{{object.arbitrator_pub_key}}"
    const partyMakingOfferPubKeyString = "{{object.party_making_offer_pub_key}}"
    const partyTakingOfferPubKeyString = "{{object.party_taking_offer_pub_key}}"
    const encryptedPrivKeySecret = localStorage.getItem('token')

    var message
    var encryptedPrivKey
    {% if object.party_contract_released_to == object.party_making_offer %}
            message = "PartyOneTakes"
            encryptedPrivKey = "{{object.party_making_offer_encrypted_priv_key}}"
    {% else %}
            message = "partyTwoTakes"
            encryptedPrivKey = "{{object.party_taking_offer_encrypted_priv_key}}"
    {% endif %}

   // const postOfficeURL = "http://127.0.0.1:3000/postage/"
   const postOfficeURL = "https://pay.cointext.io/postage"
   function withdraw() {
        withdrawFunds(
            withdrawAddress, token, arbitratorPublicKeyString, partyMakingOfferPubKeyString,
            partyTakingOfferPubKeyString, encryptedPrivKey, encryptedPrivKeySecret, "{{object.signature}}", message,
            postOfficeURL
        )
   }
</script>
{% endblock %}
