{% extends 'escrowapp/base.html' %}
{% load static %}
{% block content %}
<p>Please send {{object.contract_amount}} USDf to the following address:</p>
<p id="address"></p>

<form id="fund_contract_form" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Funded</button>
</form>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/bchaddrjs-slp@0.2.8/dist/bchaddrjs-slp-0.2.8.min.js"></script>
<script>
    const slpAddress = bchaddr.toSlpAddress("{{object.contract_cash_address}}")
    document.getElementById("address").innerText = slpAddress
</script>
<script src="{% static 'escrowapp/js/escrow.js' %}"></script>
<script>
    const token = "{{object.token}}"
    const contractAmount = {{object.contract_amount}} * 10 **8
    function submitOnFund() {
        getSLPBalanceForToken(slpAddress, token).then((res) =>{
            if ( res == contractAmount) {
                const form = document.getElementById("fund_contract_form")
                form.submit()
            }
        })
    }
    setTimeout(submitOnFund, 5000)
</script>
<script src="https://cdn.jsdelivr.net/npm/bitcoincom-link@0.1.10-ping02/lib/bitcoincom-link.min.js"></script>
<script>
    bitcoincomLink.sendAssets({
      to: slpAddress,
      protocol: 'SLP',
      value: {{object.contract_amount}},
      assetId: "{{object.token}}"
    }).then((data) => {
      console.log('Completed transaction id: ' + data.txid);
      submitOnFund()
    }).catch((e)=> {
        console.log(e)
    });


</script>
{% endblock %}