{% extends 'escrowapp/base.html' %}
{% load static %}
{% block content %}
<form id="update_offer_form" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'escrowapp/js/escrow.js' %}"></script>
<script>
    contractCreationAcceptanceFormHandler(
        'update_offer_form',
        'id_party_taking_offer_pub_key',
        'id_party_taking_offer_encrypted_priv_key',
        window.localStorage.getItem('token')
    )
</script>
{% endblock %}